<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <title>ENPER</title>
</head>
<body>
<th:block th:insert="~{component/header.html::header}"></th:block>
<th:block th:insert="~{component/scheduleSidebar.html::scheduleSidebar}"></th:block>
<div class="container mt-3">
  <form th:action="@{/book/addOk}" method="post">
    <div class="my-3">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Book title" name="title">
    </div>
    <div class="my-3">
      <label for="series">Series:</label>
      <input type="text" class="form-control" id="series" placeholder="Series" name="series">
    </div>
    <div class="my-3">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" placeholder="Short description" name="description">
    </div>
    <div class="my-3">
      <label for="content">Summary:</label>
      <textarea class="form-control" rows="10" id="content" name="summary"></textarea>
    </div>

    <div class="d-flex justify-content-center">
      <div class="mx-1">
        <button type="submit" class="btn btn-outline-dark">Finish</button>
      </div>
      <div class="mx-1">
        <a class="btn btn-outline-dark" th:href="@{/(page=${session.page})}">Back</a>
      </div>
    </div>

  </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script th:src="@{/js/summernote.js}"></script>
<script th:src="@{/js/addBook.js}"></script>
<script src="/js/schedule.js"></script>
</html>