<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="icon" type="image/x-icon" href="/image/favicon.ico">
<script th:unless="${book}">
  alert("This book no longer exists.");
  history.back();
</script>

<th:block th:if="${book}" th:with="logged_user=${#authentication.principal.user}">
    <th:block th:insert="~{component/header.html::header}"></th:block>
    <th:block th:insert="~{component/scheduleSidebar.html::scheduleSidebar}"></th:block>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link href="/css/sidebar.css" rel="stylesheet">
        <link href="/css/detail.css" rel="stylesheet">
        <meta property="og:image" content="/image/enper.png">
        <meta property="og:title" content="ENPER">
        <title>ENPER</title>
    </head>
    <script th:inline="javascript">
        var roles = [[${logged_user.roles}]];
    </script>

    <body>

    <div class="container mt-3">
        <h2>[[${book.title}]]</h2>
        <hr>
        <div class="mb-3">
            <div class="mb-2 w-25">
                <select id="select-option" class="form-control category custom-dropdown">
                    <option id="generalinfo">General Info</option>
                    <option id="detailedsummary" th:if="${not #lists.isEmpty(details)}">Detailed Summary</option>
                    <option id="chapterquestion" th:if="${question != null}">Chapter Question</option>
                </select>
            </div>
        </div>
    </div>
    <div id="general" class="container mb-3">
        <section class="border bg-light rounded p-2">
            <form name="frmDelete" th:action="@{/book/delete}" method="POST">
                <input id="book_id" type="hidden" name="id" th:value="${book.id}">
            </form>

            <div th:utext="${book.summary}"></div>
            <div class="d-flex justify-content-end">
                <a class="btn text-primary btn-sm btn-link me-2 btn-rounded" th:href="@{'/book/edit/' + ${book.id}}" sec:authorize="hasRole('ADMIN')">Edit</a>
                <button type="button" class="btn text-danger btn-sm btn-link btn-rounded" id="btnDel" sec:authorize="hasRole('ADMIN')">Delete</button>
            </div>
        </section>
    </div>
    <div id="detailed" class="container mb-3 d-none">
        <div class="d-flex mb-3">
            <div>
                <input type="text" class="form-control page" id="pageStart" maxlength="5" placeholder="Start" name="firstPage">
            </div>
            <span class="mx-2 mt-1">-</span>
            <div>
                <input type="text" class="form-control page" id="pageEnd" maxlength="5" placeholder="End" name="lastPage">
            </div>
            <div class="mx-2">
                <button id="searchBtn" class="btn btn-secondary shadow-0" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div>
            <div id="pageInfo">
            </div>
        </div>
    </div>
    <div id="questions" th:if="${question != null}" class="container mb-3 d-none">
        <section class="border bg-light rounded p-2">
            <form name="questionDelete" th:action="@{/question/delete}" method="POST">
                <input id="question_id" type="hidden" name="id" th:value="${question.id}">
                <input id="question_book_id" type="hidden" name="book_id" th:value="${question.book.id}">
            </form>

            <div class="mb-3" th:utext="${question.content}"></div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-link btn-sm text-primary btn-rounded shadow-0 mx-2" th:href="@{'/question/edit/' + ${question.id}}" sec:authorize="hasRole('ADMIN')">Edit</a>
                <button type="button" class="btn btn-link btn-sm text-danger shadow-0 btn-rounded" id="btnDelQuestion" sec:authorize="hasRole('ADMIN')">Delete</button>
            </div>
        </section>
    </div>
    </body>
</th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
<script th:src="@{/js/detail.js}"></script>
<script th:src="@{/js/delete.js}"></script>
<script src="/js/schedule.js"></script>
</html>























