server:
  port: 80
  servlet:
    session:
      timeout: 1h

recaptcha:
  secret: ${RECAPTCHA_SECRET}

spring:
  output:
    ansi:
      enabled: always
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  web:
    resources:
      cache:
        period: 365d
        cachecontrol:
          max-age: 31536000
          cache-public: true
          immutable: true
      chain:
        strategy:
          content:
            enabled: true
            path: /**

  thymeleaf:
    cache: false
    prefix: classpath:templates/views/

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${rds.hostname}:${rds.port}/${rds.db.name}?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: ${rds.username}
    password: ${rds.password}

  jpa:
    hibernate:
      ddl-auto: none

app:
  pagination:
    write_pages: 10
    page_rows: 10

  upload:
    path: /opt/uploads/worksheets