<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/booklist.css}">
    <link rel="icon" type="image/x-icon" href="https://enper.net/image/favicon.ico">
    <link href="https://enper.net/css/sidebar.css" rel="stylesheet">
    <title>ENPER</title>
    <meta property="og:image" content="https://enper.net/image/enper.png">
    <meta property="og:title" content="ENPER">
</head>
<body>
<th:block th:insert="~{component/header.html::header}"></th:block>
<th:block th:insert="~{component/scheduleSidebar.html::scheduleSidebar}"></th:block>
<form th:action="@{/book/search}" method="GET">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col d-flex input-group">
                <input class="form-control" type="search" placeholder="Search by title or series" aria-label="Search" name="value">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>
    <table class="table table-hover text-center mt-3">
        <thead class="table-secondary">
            <tr>
                <th class="align-middle" rowspan="2" colspan="2">Title</th>
                <th class="align-middle" rowspan="2" colspan="2">Series</th>
                <th class="align-middle" rowspan="2" colspan="4">Description</th>
                <th rowspan="1" colspan="1">BL</th>
                <th rowspan="1" colspan="1">AR</th>
                <th rowspan="1" colspan="1">DS</th>
                <th rowspan="1" colspan="1">CQ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(searchedBooks)}" th:each="book : ${books}" class="clickable">
                <input type="hidden" th:value="${book.id}">
                <td class="align-middle" colspan="2" th:text="${book.title}"></td>
                <td class="align-middle" th:text="${book.series}" colspan="2"></td>
                <td class="align-middle" th:utext="${book.description}" colspan="4"></td>
                <td class="align-middle" th:text="${book.book_level}" colspan="1"></td>
                <td class="align-middle" th:text="${book.ar_point}" colspan="1"></td>
                <td class="align-middle" th:text="${#lists.size(book.details)}" colspan="1"></td>
                <td class="align-middle" th:text="${book.question != null ? '✓' : '✗'}" colspan="1"></td>
            </tr>
            <tr th:if="${not #lists.isEmpty(searchedBooks)}" th:each="book : ${searchedBooks}" class="clickable">
                <input type="hidden" th:value="${book.id}">
                <td class="align-middle" colspan="2" th:text="${book.title}"></td>
                <td class="align-middle" th:text="${book.series}" colspan="2"></td>
                <td class="align-middle" th:utext="${book.description}" colspan="4"></td>
                <td class="align-middle" th:text="${book.book_level}" colspan="1"></td>
                <td class="align-middle" th:text="${book.ar_point}" colspan="1"></td>
                <td class="align-middle" th:text="${#lists.size(book.details)}" colspan="1"></td>
                <td class="align-middle" th:text="${book.question != null ? '✓' : '✗'}" colspan="1"></td>
            </tr>
        </tbody>
    </table>

    <th:block th:insert="~{component/pagination::pagination}"></th:block>

    <div class="d-flex justify-content-center">
        <div>
            <a class="btn btn-outline-dark" th:href="@{/book/add}" sec:authorize="hasRole('ADMIN')">Add Book</a>
            <a class="btn btn-outline-dark mx-2" th:href="@{/detail/add}" sec:authorize="hasRole('ADMIN')">Add DS</a>
            <a class="btn btn-outline-dark" th:href="@{/question/add}" sec:authorize="hasRole('ADMIN')">Add CQ</a>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:src="@{/js/booklist.js}"></script>
<script src="https://enper.net/js/schedule.js"></script>
</html>