<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/booklist.css}">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link href="/css/sidebar.css" rel="stylesheet">
    <title>ENPER</title>
    <meta property="og:image" content="/image/enper.png">
    <meta property="og:title" content="ENPER">
</head>
<body>
<th:block th:insert="~{component/header.html::header}"></th:block>
<th:block th:insert="~{component/scheduleSidebar.html::scheduleSidebar}"></th:block>
<form th:action="@{/book/search}" method="GET">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col d-flex input-group">
                <input class="form-control" type="search" placeholder="Search by title or series" aria-label="Search" name="value">
                <button class="btn btn-primary shadow-0" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>
    <table class="table table-hover text-center mt-3">
        <thead class="table-secondary">
            <tr>
                <th class="align-middle" rowspan="2" colspan="2">Title</th>
                <th class="align-middle" rowspan="2" colspan="2">Series</th>
                <th class="align-middle" rowspan="2" colspan="4">Description</th>
                <th rowspan="1" colspan="1">BL</th>
                <th rowspan="1" colspan="1">AR</th>
                <th rowspan="1" colspan="1">DS</th>
                <th rowspan="1" colspan="1">CQ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(searchedBooks) && #lists.isEmpty(books)}">
                <td colspan="12">No results found - <b>[[${keyword}]]</b></td>
            </tr>
            <tr th:if="${#lists.isEmpty(searchedBooks)}" th:each="book : ${books}" class="clickable">
                <input type="hidden" th:value="${book.id}">
                <td class="align-middle" colspan="2" th:text="${book.title}"></td>
                <td class="align-middle" th:text="${book.series}" colspan="2"></td>
                <td class="align-middle" th:utext="${book.description}" colspan="4"></td>
                <td class="align-middle" th:text="${book.book_level}" colspan="1"></td>
                <td class="align-middle" th:text="${book.ar_point}" colspan="1"></td>
                <td class="align-middle" th:text="${#lists.size(book.details)}" colspan="1"></td>
                <td class="align-middle" th:if="${book.question != null}" colspan="1">
                    <span class="badge badge-success rounded-pill d-inline">Y</span>
                </td>
                <td class="align-middle" th:if="${book.question == null}" colspan="1">
                    <span class="badge badge-danger rounded-pill d-inline">N</span>
                </td>
            </tr>
            <tr th:if="${not #lists.isEmpty(searchedBooks)}" th:each="book : ${searchedBooks}" class="clickable">
                <input type="hidden" th:value="${book.id}">
                <td class="align-middle" colspan="2" th:text="${book.title}"></td>
                <td class="align-middle" th:text="${book.series}" colspan="2"></td>
                <td class="align-middle" th:utext="${book.description}" colspan="4"></td>
                <td class="align-middle" th:text="${book.book_level}" colspan="1"></td>
                <td class="align-middle" th:text="${book.ar_point}" colspan="1"></td>
                <td class="align-middle" th:text="${#lists.size(book.details)}" colspan="1"></td>
                <td class="align-middle" th:if="${book.question != null}" colspan="1">
                    <span class="badge badge-success rounded-pill d-inline">Y</span>
                </td>
                <td class="align-middle" th:if="${book.question == null}" colspan="1">
                    <span class="badge badge-danger rounded-pill d-inline">N</span>
                </td>
            </tr>
        </tbody>
    </table>

    <th:block th:insert="~{component/pagination::pagination}"></th:block>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script th:src="@{/js/booklist.js}"></script>
<script src="/js/schedule.js"></script>
</html>