.page {
    width: 70px;
    height: 36px;
}

#searchBtn {
    height: 36px;
}

#ex1-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: -5px;
    scrollbar-width: none;
}

#ex1 {
    display: inline-block;
    width: max-content;
}

.tab-item {
    display: inline-block;
}

#ex1-wrapper::-webkit-scrollbar {
    display: none;
}