.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
}

#registerBtn {
    display: flex;
    justify-content: center;
}

#register-success {
  display: none;
}