.sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    padding: 20px;
    height: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #E3E9F1;
    transition: right 0.2s ease-in-out;
    overflow: auto;
    z-index: 10;
    background: #F8FAFE;
}

#schedule-title {
    color: #4F4F4F
}

#schedule {
    cursor: pointer;
}

body {
    transition: 0.2s ease-in-out;
}

.text-gray {
    color: #D3DBE6;
}

.text-yellow {
    color: #1F74C1;
}

#history-table {
    max-height: 500px;
    overflow-y: scroll;
}

.custom-dropdown {
    appearance: none;
    background-image: url('/image/dropdown.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 10px center;
    padding-right: 30px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-link:hover {
    color: #212529;
    transition: color 0.3s;
}

.header-active {
    color: #212529;
}

.header-active:hover {
    color: #212529;
}

.studentName {
    font-weight: 580;
    font-size: 19px;
    cursor: pointer;
}

.time-input {
    width: 123px;
    cursor: pointer;
    text-wrap: nowrap;
}

.stu-note {
    font-size: 14px;
}

.top-input {
    height: 31px;
}

#page {
    overflow: hidden;
}

@media (max-width: 768px) {
    .table th, .table td {
        padding: 11px;
        font-size: 13px;
    }
}
