.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    padding: 20px;
    height: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: right 0.3s ease-in-out;
    overflow: auto;
    z-index: 10;
}

#schedule {
    cursor: pointer;
}

body {
    transition: 0.3s ease-in-out;
}

.btn-light {
    box-shadow: none;
}

.text-gray {
    color: #6c757d
}

.text-yellow {
    color: #FFFF00;
}