.sidebar {
    position: fixed;
    top: 0;
    right: -270px;
    width: 270px;
    padding: 20px;
    height: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: right 0.2s ease-in-out;
    overflow: auto;
    z-index: 10;
}

#schedule {
    cursor: pointer;
}

body {
    transition: 0.2s ease-in-out;
}

.text-gray {
    color: #6c757d
}

.text-yellow {
    color: #FFFF00;
}

.custom-dropdown {
        appearance: none;
        background-image: url('/image/dropdown.png');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: right 10px center;
        padding-right: 30px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
}

.header-link:hover {
    color: #fff;
    transition: color 0.3s;
}

.header-active {
    color: #fff;
}

.header-active:hover {
    color: #fff;
}

.studentName {
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
}

.time-input {
    width: 135px;
}

.top-input {
    height: 31px;
}

@media (max-width: 768px) {
    .table th, .table td {
        padding: 13px;
        font-size: 12px;
    }
}
