.print-only {
    display: none;
}

.print-only-row {
    display: none;
}

.no-print {
    display: table-cell;
}

.worksheet-table {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
}

.table-container {
    overflow-x: auto;
}

.flex-equal {
    flex: 1 1 0%;
}

@media print {
    body * {
        visibility: hidden;
    }

    #rightTable, #rightTable tr, #rightTable tbody, #rightTable thead {
        break-inside: auto;
    }

    #printableArea, #printableArea * {
        visibility: visible;
    }

    #printableArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: visible;
    }

    #rightTable {
        border: 1px solid #dee2e6;
        border-collapse: collapse;
    }

    #rightTable th, #rightTable td {
        border: 1px solid #dee2e6;
    }

    .print-only {
        display: block;
        margin-bottom: 30px;
    }

    .print-only-row {
        display: table-cell;
    }

    .no-print {
        display: none;
    }

    .worksheet-table {
        max-height: 100%;
    }
}
