<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">EN Helper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" href="/admin/panel">Admin Panel</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" href="/book/add">Add Book</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" href="/detail/add">Add Note</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/desk/enroll">Enroll</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a id="schedule" class="nav-link">Schedule</a>
                    </li>
                </ul>

                <a class="btn btn-outline-light" sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>

                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <span class="d-flex">
                      <span><button class="btn btn-outline-light" type="submit">Logout</button></span>
                    </span>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="alert alert-secondary alert-dismissible" sec:authorize="isAnonymous()">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            You are not logged in.<br>
        </div>
        <div class="alert alert-success alert-dismissible" sec:authorize="isAuthenticated()" th:with="user=${#authentication.principal.user}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            Logged in as [[${user.username}]].<br>
        </div>
    </div>
</th:block>
</html>
