<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav data-mdb-navbar-init class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ENPER</a>
            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#mynavbar"
                    aria-controls="mynavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:classappend="${nav == 'nav-admin-panel' ? 'nav-active' : ''}" class="nav-link" href="/admin/panel">User Panel</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:classappend="${nav == 'nav-book-add' ? 'nav-active' : ''}" class="nav-link" href="/book/add">Add Book</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:classappend="${nav == 'nav-detail-add' ? 'nav-active' : ''}" class="nav-link" href="/detail/add">Add DS</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:classappend="${nav == 'nav-question-add' ? 'nav-active' : ''}" class="nav-link" href="/question/add">Add CQ</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:classappend="${nav == 'nav-desk-enroll' ? 'nav-active' : ''}" class="nav-link" href="/desk/enroll">Enroll</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a id="schedule" class="nav-link">Schedule</a>
                    </li>
                </ul>

                <a class="btn btn-primary shadow-0" sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>

                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <span class="d-flex">
                      <span><button class="btn btn-secondary shadow-0" type="submit">Logout</button></span>
                    </span>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="alert alert-secondary alert-dismissible fade show" sec:authorize="isAnonymous()" data-mdb-alert-init>
            <button type="button" class="btn-close" data-mdb-dismiss="alert"></button>
            You are not logged in.<br>
        </div>
        <div class="alert alert-success alert-dismissible fade show" sec:authorize="isAuthenticated()" th:with="user=${#authentication.principal.user}" data-mdb-alert-init>
            <button type="button" class="btn-close" data-mdb-dismiss="alert"></button>
            Logged in as [[${user.username}]].<br>
        </div>
    </div>
</th:block>
</html>
