<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination">
    <div id="page" class="container mt-1">
        <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item" th:if="${page > 1}"><a class="page-link" th:href="${url }" title="First">«</a></li>
            <li class="page-item" th:if="${startPage > 1 }"><a class="page-link" th:href="@{${url }(page=${startPage - 1 })}">‹</a></li>
            <th:block th:if="${totalPage > 1 }">
                <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" th:unless="${k == page }"><a class="page-link" th:href="@{${url }(page=${k})}" th:text="${k}"></a></li>
                    <li class="page-item active" th:if="${k == page }"><a class="page-link" href="javascript:void(0);" th:text="${k}"></a></li>
                </th:block>
            </th:block>
            <li class="page-item" th:if="${totalPage > endPage }"><a class="page-link" th:href="@{${url }(page=${endPage + 1 })}">›</a></li>
            <li class="page-item" th:if="${page < totalPage }"><a class="page-link" th:href="@{${url }(page=${totalPage })}">»</a></li>
        </ul>
    </div>
</th:block>
</html>